@font-face {
  font-family: "Inter";
  src: url(./font/Inter-Bold.ttf) format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Inter";
  src: url(./font/Inter-Light.ttf) format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Inter";
  src: url(./font/Inter-Medium.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url(./font/Inter-Regular.ttf) format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Inter";
  src: url(./font/Inter-SemiBold.ttf) format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Playfair Display";
  src: url(./font/PlayfairDisplay-Bold.ttf) format("truetype");
  font-weight: 700;
}
.preview, header nav, header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  font-style: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 1200px;
  margin: auto;
}

header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}
header .img-logo {
  background-image: url(./assets/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 41px;
  height: 41px;
}
header nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header nav p {
  margin-right: 35px;
  font: 500 16px "Inter";
  color: #202336;
}
header nav p:hover {
  color: #202336;
}
header nav div:not(:last-child) {
  margin-right: 18px;
}
header nav .login-btn {
  border: 1px solid #FB8F1D;
  border-radius: 8px;
  font: 500 15px "Inter";
  color: #FB8F1D;
  padding: 8px 46px;
}
header nav .registre-btn {
  background: #FB8F1D;
  border-radius: 8px;
  font: 500 15px "Inter";
  color: #FFFFFF;
  padding: 8px 36px;
}

.preview {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
}
.preview .travel-form {
  width: 500px;
}
.preview .travel-form h1 {
  font: 700 64px "Playfair Display";
  color: #202336;
}
.preview .travel-form p {
  font: 600 22px "Inter";
  color: #202336;
  margin: 50px 0;
}
.preview .travel-form .inputs-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.preview .travel-form .inputs-form div {
  margin-bottom: 30px;
}
.preview .travel-form .inputs-form div:not(:last-child) {
  margin-right: 30px;
}
.preview .travel-form .inputs-form input {
  width: 210px;
  height: 52px;
  border: 0.8px solid #B8BECD;
  border-radius: 6px;
  padding-left: 20px;
  outline: none;
}
.preview .travel-form .inputs-form input::-webkit-input-placeholder {
  font-family: 400 15px "Inter";
  color: #4A4C53;
}
.preview .travel-form .inputs-form input::-moz-placeholder {
  font-family: 400 15px "Inter";
  color: #4A4C53;
}
.preview .travel-form .inputs-form input:-ms-input-placeholder {
  font-family: 400 15px "Inter";
  color: #4A4C53;
}
.preview .travel-form .inputs-form input::-ms-input-placeholder {
  font-family: 400 15px "Inter";
  color: #4A4C53;
}
.preview .travel-form .inputs-form input::placeholder {
  font-family: 400 15px "Inter";
  color: #4A4C53;
}
.preview .travel-form .btn {
  background: #FB8F1D;
  border-radius: 8px;
  width: 180px;
  text-align: center;
  padding: 15px 0;
  font: 700 17px "Inter";
  color: #FFFFFF;
}
.preview .img-travel {
  background-image: url(./assets/thousand-01\ 1.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 506px;
  height: 483px;
}